aside {
  flex: 20%;
  height: 100vh;
  background-color: var(--clr-lightgreyBackground);
  border-right: 0.5px solid rgb(196, 193, 193);
}

.sideBar_container {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
}

.top_container,
.mid_container,
.bottom_container {
  width: 100%;
}

.wallet_container {
  background-color: var(--clr-primary);
  color: white;
  padding: 1rem 1.8rem;
  border-radius: 8px;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance {
  font-size: 0.6rem;
}

.list_container {
  color: grey;
  width: 100%;
}

.list_container ul {
  list-style-type: none;
  margin-left: -2rem;
}

.list_container ul li {
  margin-bottom: 1rem;
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
}

.list_container ul li:hover {
  background-color: white;
  border-radius: 8px;
  color: black;
  cursor: pointer;
}

.inner_bottom {
  background-color: var(--clr-primary);
  width: 100%;
  height: 12rem;
}

.btn {
  border-radius: 8px;
}
